body {
    font-family: Arial, sans-serif;
}

.hero {
    background-image: url('image\banner.png');
    background-size: cover;
    color: rgb(68, 112, 162);
}
.list-group-item {
    border: 1px solid #ddd;
}

.card {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

/* Accessibility: High contrast for focus */
.navbar-nav .nav-link:focus {
    outline: 2px solid #fff;
}